.nav {
	width: 100%;
	text-align: right;

}

.nav .container ul {
	color: white
	height: 60px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: right;
	margin-right: 60px;
}

.nav ul li {
	color: white;
	font-weight: 500;
	display: inline-block;
	height: 80px;
	list-style: none;
	padding: 0 14px;
	padding-top: 50px;
	text-align: right;
}


body {
	font-family: avenir; sans-serif;
}

h1, h3, p, {
	color: white;
}

h1 {
	text-transform: uppercase;
	font-size: 80px;
	font-weight: 700;
}

.header {
	background: url(images/kimfoxx.jpg) no-repeat center center;
	background-size: cover;
	height: 800px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 0px;

}

.hero .container {
	position: relative;
	top: 350px;
}


.header h1 {
	color: #fff;
	font-size: 80px;
	font-weight: 800;
	text-align: center;
}

.header h3 {
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: -45px;
	text-align: center;
	font-size: 20px;
}

.section1 {
	background-color: black;
	height: 750px;
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px; 
}

.section1 .container {
	padding-top: 200px;
	padding-left: 350px;
	padding-right: 350px;
	color: white;
}

.section1 h3 {
	font-size: 50px;
	text-align: center;
}


table {
	background-color: #EA0F3E;
	height: 500px;
	width: 
	color: white;
	margin-left: -10px;
	margin-right: -10px;
	padding-right: 10px;
	padding-left: 30px;
}

th {
	text-align: center;
	color: white;
	font-weight: 700;
	line-height: -100;
	font-size: 60px;
	padding-top: 60px;
}


td {
	color: white;
	text-align: left;
	font-weight: 525;
	font-size: 19px;
	padding-right: 10px;
	padding-left: 30px;
	padding-top: -10px;
	padding: 0 50px;
	vertical-align: top;
}
	

table {
  border-collapse: collapse;
}
table td {
  border: .5px solid white; 
  border-top: none;
  border-bottom: none;

}

.footer {
	background-color: black;
	height: 250px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
}

.footer .container {
	text-align: center;
	padding-top: 110px;
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 510;
}


